.content-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    padding: 1rem 0 0 0;
    margin-bottom: 1em;
}

.custom-control-label {
    font-weight: 500 !important;
}

.auto-refresh {
    .custom-control-label {
        float: right;
    }

    p {
        float: right;
    }
}

.realm-list {
    display: flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;

    .realm {
        display: flex;
        background-color: #373e44; 
        
        border-radius: 1em;
        padding: 1em 0;
        margin: 1em 1em 1em 0;
        width: 25em;
    
        .realm-image {
            // Center
            width: 4.5em;
            height: auto;
            position: relative;
            margin: 0 1em;
            
            // img {
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     margin: auto;
            // }
    
            figcaption {
                text-align: center;
                a, p{
                    font-size: 12px;
                }
            }
        }
    
        .realm-info {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;
        
            div {
                .supertext {
                    font-family: Consolas;
                    font-size: 13px;
                }
                
                p {
                    margin: 0;
                }
            }
        }
    }
}    

