<div class="content-header border-bottom pb-2">
    <h1>Realm Tracker</h1>

    <div class="auto-refresh">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="autoRefreshCheck"
                [(ngModel)]="realmsService.eventsEnabled" (click)="realmsService.toggleEvents()">
            <label for="autoRefreshCheck" class="custom-control-label">Auto Refresh</label>
        </div>

        <p *ngIf="realmsService.lastRefreshTime" ngbTooltip="{{realmsService.lastRefreshTime.toRelative()}}">
            Last Updated: {{realmsService.lastRefreshTime.toLocaleString()}}
        </p>
    </div>
</div>

<div class="content">

    <!-- Filter -->
    <div class="mb-2">
        <h3>Filter</h3>
    </div>

    <div class="indent-content">
        <div class="custom-control custom-checkbox mb-4">
            <input class="custom-control-input" type="checkbox" id="groupByServerCheck"
                [(ngModel)]="realmsService.groupByServer" (click)="realmsService.groupRealms()">
            <label for="groupByServerCheck" class="custom-control-label">Group by Server</label>
        </div>
    </div>
</div>

<!-- Realm List -->
<div class="content-header pb-2 border-bottom">
    <h3>Realm List</h3>

    <div class="btn-group">
        <div class="btn-group" ngbDropdown role="group" aria-label="dropdownOrderBy">
            <button class="btn btn-primary" id="dropdownOrderBy" ngbDropdownToggle>Order By
                ({{realmsService.realmsOrder}})</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let enum of RealmOrder | keyvalue: utilService.sortOriginal"
                    (click)="realmsService.sortRealms(RealmOrder[enum.key])">{{enum.value}}</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="dropdownOrderBy">
            <button class="btn btn-success" ngbDropdownToggle>{{realmsService.sortOrder == "Ascending" ?
                "Ascending" : "Descending"}}</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="realmsService.swapOrder()" ngbDropdownItem>{{realmsService.sortOrder == "Ascending"
                    ?
                    "Descending" : "Ascending"}}</button>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="indent-content">
        <!-- Group By Server -->
        <ng-container *ngIf="realmsService.groupByServer">
            <div *ngFor="let realmGroup of realmsService.groupedRealms | keyvalue: realmsService.groupedRealmSort">
                <h3>{{realmGroup.key}}</h3>
                <ng-template [ngTemplateOutlet]="realmlist" [ngTemplateOutletContext]="{realms:realmGroup.value}">
                </ng-template>
                <br>
            </div>
        </ng-container>

        <!-- No Grouping -->
        <ng-container *ngIf="!realmsService.groupByServer">
            <ng-template *ngIf="!realmsService.groupByServer" [ngTemplateOutlet]="realmlist"
                [ngTemplateOutletContext]="{realms:realmsService.realms}"></ng-template>
        </ng-container>
    </div>
</div>

<!-- Realm List Template -->
<ng-template #realmlist let-realms="realms">
    <div class="realm-list">
        <h4 *ngIf="realms.length == 0">No Realms!</h4>
        <div *ngFor="let realm of realms" class="realm">
            <figure class="realm-image">
                <img src="/assets/rotmg/dungeons/Oyrx's_Castle.png" alt="{{realm.server.name}} {{realm.name}}">
                <figcaption>
                    <!-- Has IP -->
                    <ng-container *ngIf="realm.ip">
                        <a ngbTooltip="Copied!" triggers="click:blur" role="button" [copy-clipboard]="realm.ip">Copy IP
                            <i class="far fa-clipboard"></i>
                        </a>
                    </ng-container>
                    <!-- No IP -->
                    <ng-container *ngIf="!realm.ip">
                        <p>Unknown IP</p>
                    </ng-container>
                </figcaption>
            </figure>
            <div class="realm-info">
                <div>
                    <p class="supertext">Server</p>
                    <p>{{realm.server.name}}</p>
                </div>
                <div>
                    <p class="supertext">Name</p>
                    <p>{{realm.name}}</p>
                </div>
                <div>
                    <p class="supertext">Players</p>
                    <p>{{realmsService.parsePlayersStr(realm)}}</p>
                </div>
                <div>
                    <p class="supertext">Events Left</p>
                    <p>{{realm.heroesLeft ? realm.heroesLeft : "??"}} Events</p>
                </div>
                <div>
                    <p class="supertext">Opened</p>
                    <p ngbTooltip="{{utilService.formatTime(realm.openedTime, false)}}">
                        {{utilService.formatTime(realm.openedTime, true).replace(' ago', '')}}</p>
                </div>
                <div>
                    <p class="supertext">Last Updated</p>
                    <p ngbTooltip="{{utilService.formatTime(realm.updatedTime, true)}}">
                        {{utilService.formatTime(realm.updatedTime, false)}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>