<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Realm Tracker</h1>

    <div>
        <div class="form-check form-switch float-end">
            <input (click)="realmsService.toggleEvents()" [(ngModel)]="realmsService.eventsEnabled"
                class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Auto Refresh</label>
        </div>
        <br>
        <p ngbTooltip="{{realmsService.lastRefreshTime.toRelative()}}" class="float-end"
            style="margin: 0px 0px 0px 1em">Last Updated:
            {{realmsService.lastRefreshTime.toLocaleString()}}</p>
    </div>

</div>

<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="btn-group btn-group-toggle">
        <button type="button" class="btn btn-primary btn-lg btn-block">Realms</button>
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Events</button>
    </div>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Filters</h2>
</div>
<p>placeholder</p>
<!-- Filters (server/events) here -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Realm List</h2>

    <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="dropdownOrderBy">
            <button class="btn btn-outline-primary" id="dropdownOrderBy" ngbDropdownToggle>Order By ({{realmsService.realmsOrder}})</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let enum of RealmOrder | keyvalue: sortOriginal" (click)="realmsService.sortRealms(RealmOrder[enum.key])" >{{enum.value}}</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="dropdownOrderBy">
            <button class="btn btn-outline-success" ngbDropdownToggle>{{realmsService.sortOrder == "Ascending" ? "Ascending" : "Descending"}}</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="realmsService.swapOrder()" ngbDropdownItem>{{realmsService.sortOrder == "Ascending" ? "Descending" : "Ascending"}}</button>
            </div>
        </div>
    </div>
</div>

<div class="realm-list">
    <div *ngFor="let realm of realmsService.realms" class="realm">
        <figure class="realm-image">
            <img src="/assets/rotmg/dungeons/Oyrx's_Castle.png" alt="{{realm.server.name}} {{realm.name}}">
            <figcaption>
                <a>Copy IP
                    <i class="far fa-clipboard"></i>
                </a>
            </figcaption>
        </figure>

        <div class="realm-info">
            <div>
                <p class="supertext">Server</p>
                <p>{{realm.server.name}}</p>
            </div>
            <div>
                <p class="supertext">Name</p>
                <p>{{realm.name}}</p>
            </div>
            <div>
                <p class="supertext">Players</p>
                <p>{{realmsService.parsePlayersStr(realm)}}</p>
            </div>
            <div>
                <p class="supertext">Events Left</p>
                <!-- TODO -->
                <p>32 Events</p>
            </div>
            <div>
                <p class="supertext">Opened</p>
                <p ngbTooltip="{{utilService.formatTime(realm.openedTime, false)}}">
                    {{utilService.formatTime(realm.openedTime, true).replace(' ago', '')}}</p>
            </div>
            <div>
                <p class="supertext">Last Updated</p>
                <p ngbTooltip="{{utilService.formatTime(realm.updatedTime, true)}}">
                    {{utilService.formatTime(realm.updatedTime, false)}}</p>
            </div>
        </div>
    </div>
</div>