<h1>Terms of Service</h1>

<div id="tos">

    <ul id="table">
        <li>Services</li>
        <li>Account</li>
        <li>Fees & Payment</li>
        <li>Information Use</li>
    </ul>

    <div id="contents">
        
        <h2>Important Information</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis consectetur nesciunt doloremque itaque ipsum non, aliquid voluptatibus officia. Assumenda quis blanditiis eos explicabo corporis non temporibus itaque minus dolorum repellat!</p>

    </div>

</div>