<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">realm<span style="color: #ad3c46;">sense</span></a>
    <span class="navbar-text">{{title}}</span>
    <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0 ms-auto" type="submit">Logout</button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <!-- User settings -->
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Download
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Subscription
                        </a>
                    </li>
                </ul>

                <!-- Admin -->
                <h6 *ngIf="authService.isAdmin()" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Admin</span>
                </h6>

                <ul *ngIf="authService.isAdmin()" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/admin/builds">
                            Builds
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/admin/users">
                            Users
                        </a>
                    </li>
                </ul>
            </div>
        </nav>



        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Child admin shit goes here -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>