
<div class="home">

    <div id="left">
        <img id="logo-img" class="mb-4" src="/assets/brand/realmsense1024.png" alt="realmsense">
            <button routerLink="/dashboard" type="button" class="btn btn-lg btn-primary btn-block">Go to Dashboard</button>

        <!-- <a routerLink="/dashboard">Go to Dashboard</a> -->
    </div>

    <div id="right">

        <div class="home-info">
            <h3>Players</h3>
            <p>View the last seen location, inventory, fame & forge fire of any player!</p>
        </div>
        <div class="home-info">
            <h3>Discord Raids</h3>
            <p>View the location of all raids across 20+ Discord servers, including vetaran raids!</p>
        </div>
        <div class="home-info">
            <h3>Realms</h3>
            <p>View a list of all realms across all servers, updating in real time.</p>
        </div>
        <div class="home-info">
            <h3>Events</h3>
            <p>View a list of all events across all realms, easily farm any event with direct IP connect.</p>
        </div>
        <div class="home-info">
            <h3>Internal Client</h3>
            <p>Coming Soon! Includes OP features such as noclip and auto aim.</p>
        </div>
        <div class="home-info">
            <h3>Discord Server</h3>
            <p>Join our <a href="#">Discord server</a> for instant support from staff. You may alternatively access our tracker through the Discord bot.</p>
        </div>

    </div>



</div>

<!-- <a class="navbar-brand" routerLink="/dashboard">Dashboard</a> -->